@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

body{background:#000000; padding-top:126px;}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    
}
body{color: var(--heading-black);}
img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

.container {
    padding: 0 20px;
    width: 100%;
    max-width: 1599px;
    margin: 0 auto;
}

section {
    padding: 60px 0;
}

.flex {
    display: flex !important;
}

.align-center {
    align-items: center !important;
}

.text-center {
    text-align: center !important;
}

.border-0 {
    border: unset !important;
}

.top-margin {
    margin-top: 127px;
}

.opacity-div {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all ease 0.3s;
    z-index: -5;
    background: #0000009e;
    opacity: 0;
}

.slip .opacity-div {
    z-index: 777;
    opacity: 1;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

:root {
    --black: #000;
    --white: #fff;
    --bg-cream: #FFF9F0;
    --d-cream: #FFE5C3;
    --v-d-cream: #EFC184;
    --heading-black: #2D2D2D;
    --grey: #8D8D8D;

}

/* HEADER SECTION STYLING START */

.curtain{width:50%; top:0; height:100%; z-index:1; position:absolute; background:url(../images/curtain.jpg) left top no-repeat; background-size:100% 100%; opacity:0.9;}
.curtain_left{  left:0;  transform-origin: left;   }
.curtain_right{right:0; transform-origin: right;}

.header-main .container{position:relative;}
.toogle-menu {
  position: absolute;
    border-left: 8px solid #FFE5C3;
    width: 180px;
    right: 0;
    top: 100%;
	background:rgba(0,0,0,0.8);
	display:none;
	

}

.header-main {
    background: var(--black);      
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 888;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	
}


.header-main.fixed .header-inner{  }
.header-inner {justify-content: space-between; padding:35px 0; transition:all ease 0.3s;}

.header-toogle button {
    background: unset;
    display: flex;
    flex-direction: column;
    width: 40px;
    gap: 7px;
    align-items: end;
	outline:none;
	border:none;
}

.header-toogle button:hover span:nth-last-child(1) {
    width: 100%;
}

.header-toogle button span {

    width: 100%;
    height: 6px;
    background: var(--v-d-cream);
    transition: all ease 0.3s;
}

.header-toogle button span:nth-last-child(1) {
    width: 50%;
    margin-left: 0;
    background-color: var(--white);
}

.header-logo {
width:100%; max-width:200px;
}

.header-logo a{display:flex;}

.toogle-menu-inner ul {
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

.toogle-menu-inner ul li {
    list-style-type: none;
}

.toogle-menu-inner ul li a {
        color: var(--white);
    text-decoration: none;
    position: relative;
    font-weight: 600;
    font-size: 15px;
	line-height:17px;
    letter-spacing: 0.5px;
}

.toogle-menu-inner{padding:20px;}

.toogle-menu-inner ul li a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background: var(--white);
    bottom: 0;
    left: 0;
    transition: all ease 0.3s;
}

.toogle-menu-inner ul li a:hover::before {

    width: 100%;
}

/* HEADER SECTION STYLING FINISHED */
/* SHADE BANNER SECTION STYLING START */
.shade-main {
    background: var(--black);
    min-height: calc(100dvh - 126px);
    justify-content: center;
}

.shade-img {
    padding-bottom: 38px;
    width: 90%;
}

.banner-data p {
    color: var(--white);
       font-size: 22px;
    width: 79%;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 1px;

}

/* SHADE BANNER SECTION STYLING FINISHED */
/* UNFOLED SECTION STYLING START */
.unfolded-main {
    background-color: var(--bg-cream);
    min-height: 409px;
}

.unfolded-data h2 {
    letter-spacing: -4px;
        font-size: 76px;
        line-height: 86px;
}

/* UNFOLED SECTION STYLING FINISHED */
/* INSPIRED SECTION STYLING START */
.inspired-main .slick-next,
.inspired-main .slick-prev {
    top: unset;
    bottom: -40px;
	width:20px;
	height:20px;
	background:url(../images/svg/previous.svg) center center no-repeat; background-size:100%;
}

.inspired-main .slick-next {
    right: 0;
	background:url(../images/svg/next.svg) center center no-repeat; background-size:100%;
}

.slick-prev {
    right: 25px;
    left: unset;
}

.inspired-main .slick-next:before,
.inspired-main .slick-prev:before{display:none;}

.inspired-main {
    background: var(--heading-black);
    padding: 80px 0;
}

.inspired-text {
    width: 40%;
    z-index: 66;
    /* left: 97px; */
    position: relative;
}

.inspired-slider {
    width: 60%;
}

.inspired-text h2 {
    color: var(--d-cream);
    font-size: 126px;
    white-space: nowrap;
    line-height: 109px;
    

}
.inspired-text h2 span{display:block; color: var(--d-cream);}
.inspired-text h2 span.white_text { color: var(--white);}

.inspired-text a {
   
    margin-top: 40px;
    
}

.animation_btn{overflow:hidden;  color: var(--black);
    background: var(--d-cream);
    font-weight: 700;
    font-size: 22px;
    padding: 20px 30px; text-decoration: none;
    display: inline-block;
    transition: all ease 0.3s;
    line-height: 22px;
	position:relative; text-transform:uppercase;}
	
.animation_btn .static_stage{position:relative;}

.animation_btn .hover_stage_bg{ background: #efc184; display: flex; position:absolute;  left: 0; 
    top: 0;
    right: 0;
    bottom: 0; transform: scale(0); transition:all ease 0.3s;}
	
	
.animation_btn .hover_stage{position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
   
    transform: translateY(-100%); transition:all ease 0.3s;}
	
	
	
.animation_btn:hover .hover_stage_bg{transform: scale(1); }	
.animation_btn:hover .hover_stage{ transform: translateY(0); transition-delay:0.2s;}


/* INSPIRED SECTION STYLING FINISHED */
/* VISION SECTION STYLING START */
.vision-main {
    background-color: var(--bg-cream);
    min-height: 534px;
    position: relative;
    z-index: 0;
}

.vision-main::before {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../images/vision-bg.webp") no-repeat center;
    position: absolute;
    top: 0;
    left: -35%;
    z-index: -1;
}

.vision-data h2 {
    padding-bottom: 25px;
        font-size: 76px;
            line-height: 86px;

}

.vision-data a {

}


/* VISION SECTION STYLING FINISHED */
/* REVEAL SLIDER SECTION STYLING START */
/* .reveal-main .inspired-text {
    left: 135px;
} */

/* REVEAL SLIDER SECTION STYLING FINISHED */
/* TRANSFORM SECTION STYLING START */
.transform-main {
    background:
        url('../images/bg-transform.png') no-repeat center center / cover,
        var(--bg-cream);
    min-height: 700px;
}

.transform-data h2 {
       font-size: 76px;
    padding-bottom: 25px;
    letter-spacing: -2px;

}

/* TRANSFORM SECTION STYLING FINISHED */
/* CREATE SECTION STYLING START */
.create-main {
    background: var(--black);
    /* height: calc(100dvh - 86.56px); */
    min-height: calc(100dvh - 126px);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.create-main::before {
    position: fixed;
    content: '';
    width: 786px;
    height: 100%;
    background: url(../images/about-banner-bg.svg) left top no-repeat;
	background-size:cover;
    top: 0;
    right: 0;
    z-index: -1;
    opacity:0.4;
}

.create-data h1 {
        color: var(--white);
    width: 100%;
    font-weight: 800;
    font-size: 135px;
    line-height: 113px;
}

.create-data h1 span {
    color: #ffffff;
}
.create-data h1 span.block{display:block;}
.create-data h1 span.cream {
    color: var(--d-cream);
}

/* CREATE SECTION STYLING FINISHED */
/* PROFOUND SECTION STYLING START */
.profound-main {
    background-color: var(--bg-cream);
	position:relative;
	padding:100px 0;
}

.profound-data h2 {
    font-size: 73px;
    line-height: 81px;
    transition: all ease 0.2s;
}

.profound-data h2 span {
    display: inline-block;
}

.profound-data h2 span.active {
    display: inline-block;
    transition: all ease 0.2s;
    color: var(--v-d-cream);
    transform: scale(1.03);
}

.profound-span {
    color: var(--v-d-cream);
}

/* PROFOUND SECTION STYLING FINISHED */
/* CONTACT US SECTION STYLING START */
.contact-us-main {
    background-color: var(--black);
    padding: 120px 0;
	position: relative;
}

.contact-text { width: 45%;}

.contact-text h3 {
        color: var(--d-cream);
    font-size: 54px;
    line-height: 58px;
    letter-spacing: -2px;
    font-weight: 800;
}

.contact-text p {
    color: var(--white);
    font-size: 30px;
    width: 80%;
    font-weight: 300;
    padding: 10px 0;
    line-height: 37px;
}

.contact-text div {
    font-family: "Allura", cursive;
    color: var(--d-cream);
    font-size: 50px;
}

.contact-form {
    width: 55%;
    align-self: normal;
}

.contact-form-data .name-div,
.contact-form-data .msg-div {
    width: 50%;
}

.contact-form-data .name-div {
    flex-direction: column;
}

.contact-form-data .name-div input {
    padding: 20px;
    margin: 12px;
    background-color: var(--white);
	outline:none;
	box-shadow:none;
	border:none;
	font-size:16px;
}

.contact-form-data .name-div input::placeholder,
.contact-form-data .msg-div textarea::placeholder {
    color: rgba(70,70,70,0.4);
    font-weight: 500;
	text-transform:uppercase;
}

.msg-div textarea {
    height: calc(100% - 23px);
    width: calc(100% - 23px);
    padding: 20px;
    margin: 12px;
    resize: none;
	font-size:16px;
	outline:none;
	box-shadow:none;
	border:none;
}

.contact-form button {
    margin: 12px;
    width: calc(100% - 23px);
    padding: 18.5px;
    background-color: var(--d-cream);
    font-weight: 700;
    font-size: 16px;
	color:#000000;
}
.contact-form button:hover {
    background:#efc184;
}

.contact-form {
    padding-left: 45px;
}

.contact-form p {
    color: var(--white);
    margin: 12px;
    width: calc(100% - 23px);
    font-size: 20.1px;
    letter-spacing: 3.9px;
    word-break: break-word;
    text-decoration: none;
	
}

.contact-form p a {
    text-decoration: none;
    color: rgba(255,255,255,0.6);
}

.contact-form p a:hover{color: rgba(255,255,255,1);}
.submit-sucess{
    background: #DFF0D8;
    color: #659464 !important;
        font-size: 15px !important;
            padding: 10px;
            letter-spacing: 1px !important;
            font-weight: 500;
			display:none;
}
.submit-un-sucess{
    background: #EDD1D1;
        color: #B95458 !important;
        font-size: 15px !important;
        padding: 10px;
        letter-spacing: 1px !important;
        font-weight: 500;
		display:none;
}

/* CONTACT US SECTION STYLING FINISHED */
/* BANNER SECTION STYLING START */
.gallery-body {
    background: var(--black);
}

.banner {
    min-height: calc(100vh - 126px);
    justify-content: center;
    align-items: center;
}

.banner-btn {
    justify-content: center;
    gap: 30px;
}

.banner-img {
    width: 90%;
    margin: auto;
}

.banner-btn button {
    color: var(--black);
    background: var(--d-cream);
    font-weight: 700;
    padding: 10px 20px;
    margin-top: 20px;
}

/* BANNER SECTION STYLING FINISHED */
/* GALLERY SECTION STYLING START */
.gallery-box button {
    color: var(--white);
    padding: 5px 20px;
    white-space: nowrap;
    background: unset;
    font-size: 22px;
    font-weight: 500;
    position: relative;
    border: unset;
    transition: all ease 0.3s;
}

.gallery {
    display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-auto-rows: 400px;
	grid-auto-flow: dense;
}

.long_height{grid-row: span 2;}
.wide_width{grid-column: span 2;}

.gallery-img-box div{}


.gallery a{display:flex; overflow: hidden; width:100%; height:100%;}
.gallery a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all ease 0.3s;}

.gallery a:hover img{transform: scale(1.1);}


.gallery-img-box .gallery-link {
    color: var(--white);
    text-decoration: none;
    padding-top: 30px;
}

.gallery-img-box .gallery-link a {
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    transition: all ease 0.3s;
    display: inline-block;
}

.gallery-img-box .gallery-link a:hover {
    color: var(--v-d-cream);
    transform: scale(1.1);
}



hoverText .word {
    cursor: context-menu;
}
.gallery-tab {
    gap: 50px;
    justify-content: center;
padding-bottom: 30px;
}

.gallery-img-5 a {
    height: 50%;
}

.gallery-img-6 {
    width: 70%;
    height: 600px;
}

.gallery-tab .tab-button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background: var(--white);
    bottom: 0;
    left: 0;
    transition: all ease 0.3s;
}

.gallery-tab .tab-button.active::after {
    transition: all ease 0.3s;
    width: 100%;
    height: 1px;
}

.gallery-page {
    background: var(--black);
	padding:100px 0;
}

.gallery-page h1 {
    color: var(--white);
    padding-bottom: 60px;
    font-size: 55px;
}

/* GALLERY SECTION STYLING FINISHED */
/* FOOTER SECTION STYLING START */
.footer-main {
    background: var(--heading-black);
    padding: 35px 0;
	position:relative;
}

.footer-data {
    justify-content: space-between;
}
.footer-contact a {
    color: var(--grey);
    text-decoration: none;
    font-size: 14px;
    transition: all ease 0.3s;
}

.footer-contact a:hover {
    letter-spacing: 0.5px;
    color:#ffffff;
}

.footer-logo {
    width: 155px;
}

.footer-logo a{display:flex;}

/* FOOTER SECTION STYLING FINISHED */



@keyframes mymove {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.tabs-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
	gap:50px;
}

.tabs-nav li {}
.tabs-nav a {font-size:20px; font-weight:700; color:#ffffff; text-decoration:none; text-transform:uppercase; padding:0 0 18px 0; position:relative; text-align:center; display:block;}
.tabs-nav a:after{bottom:0; left:0; right:0; height:2px; background:#ffffff; position:absolute; content:''; opacity:0;}
.tabs-nav li.active a:after{opacity:1;}
.tabs-content > div:not(:first-child) {display: none;}

.gallery-link{margin-top:40px;}
.gallery-link a{min-width:300px;}

#gallery_section,
#contact_section
{scroll-margin-top:126px;}


.autograph {
    width: 830px;
}

.autograph__path {
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    opacity: 0;
}

.animated .autograph__path {
    opacity: 1;
    animation-name: line;
}

@keyframes line {
    100% {
        stroke-dashoffset: 0;
    }
}

.sign-div {
    position: absolute;
    right: -4%;
    width: 469px;
    transform: rotate(340deg);
    bottom: 12%;
    z-index: -1;
    overflow: hidden;
}
.vertical_curtain{
    transform-origin: top;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 1;
    position: absolute;
    background: url(../images/vertical_curtain.png);
    background-size: 100% 100%;
}